<div  class = "contêiner" >  
    <nav  class = "navbar navbar-expand-md bg-dark navbar-dark" >  
        <a  class = "navbar-brand"  href= "#" >Navbar</a>  
        <button  class = "navbar-toggler"  type= "button"  data-toggle= "recolher"  data-target= "#collapsibleNavbar" >  
          <span  class = "navbar-toggler-icon" ></span>  
        </button>  
        <div  class = "recolher navbar-collapse"  id= "collapsibleNavbar" >  
          <ul  class = "navbar-nav" >  
            <li  class = "item de navegação" >  
              <a  class = "nav-link"  href= "#" >Link</a>  
            </li>  
            <li  class = "item de navegação" >  
              <a  class = "nav-link"  href= "#" >Link</a>  
            </li>  
            <li  class = "item de navegação" >  
              <a  class = "nav-link"  href= "#" >Link</a>  
            </li>      
          </ul>  
        </div>    
      </nav>  
  <div  class = "jumbotron" >  
    <h1  class = "text-center" >Bem-vindo ao angular</h1>        
    <p>Bootstrap é a estrutura HTML, CSS e JS mais popular  para  desenvolver projetos responsivos e voltados para dispositivos móveis na Web.</p>  
  </div>  
  <p>Isto é um texto.</p>        
  <p>Este é outro texto.</p>        
</div>  